<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>thb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name = "twitter:site"  content = "@thb"/> 
    <meta name="referrer" content="origin">
    <meta property="og:locale" content="en_US">
    <meta property="og:title" content="thb">
    <meta property="og:type" content="article">
    <meta name="keywords" content="tbh thb facebook anonymous app twitter">
    <meta property="og:url" content="http://tbh.midnightlabs.top:8060/share/index.html">
    <meta property="og:image" content="http://photoh5-us.oss-us-east-1.aliyuncs.com/tbh/share.jpg">
    <meta property="og:site_name" content="thb">
    <meta property="og:description" content="Want to know what I've received in THB? Play with me : https://play.google.com/store/apps/details?id=com.midnightlabs.thb">
    <meta name="mixi-check-robots" content="nodescription, noimage">
    <meta property="mixi:device-mobile" content="http://tbh.midnightlabs.top:8060/share/index.html">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:url" content="http://tbh.midnightlabs.top:8060/share/index.html">
    <meta name="twitter:title" content="thb">
    <meta name="twitter:description" content="Want to know what I've received in THB? Play with me : https://play.google.com/store/apps/details?id=com.midnightlabs.thb">
    <meta name="twitter:image" content="http://photoh5-us.oss-us-east-1.aliyuncs.com/tbh/share.jpg">
    <meta name="twitter:app:country" content="US">
    <meta name="twitter:app:name:iphone" content="tbh">
    <meta name="twitter:app:id:iphone" content="1270083927">
    <meta name="twitter:app:name:googleplay" content="thb">
    <meta name="twitter:app:id:googleplay" content="com.midnightlabs.thb">
    <meta name="twitter:app:url:googleplay" content="https://play.google.com/store/apps/details?id=com.midnightlabs.thb">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/x-icon" href="http://tbh.midnightlabs.top:8060/favicon.ico" />
</head>

<body>
    <div id="app"></div>
</body>

</html>