.index {
    width: 100vw;height: 100vh;
    overflow: auto;
    background: #633aed;
}
.main-content {
    padding-top: 8px;
    box-sizing: border-box;
    height: calc(100vh - 50px);
    overflow: auto;
}
.top {
    height: 50px;
    line-height: 49px;
    // border-bottom: 1px solid rgba(255,255,255,0.3);
    box-sizing: border-box;
    overflow: hidden;
    padding: 0 8px;
    color: #fff;
    position: relative;
    text-align: center;
    font-size: 16px;
    img {
        height: 16px;
        vertical-align: middle;
    }
}
.top-title {
    font-family: FiraSansCondensed-HeavyItalic;
    font-size: 20px;
}
.top-left {
    position: absolute;
    left:  5.55555vw;
    top: 0;
    color: #fff;
    img {
        margin-right: 6px;
    }
}
.top-right {
    position: absolute;
    right:  5.55555vw;
    top: 9px;
    width: 21.6vw;
    background: #FFAE30;
    border-radius: 26px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    img {
        margin-left: 6px;
    }
}
.bottom {
    background: #FFAE30;
    border-radius: 8px;
    height: 44px;
    line-height: 44px;
    box-sizing: border-box;
    width: 83.33333vw;
    margin: 10px auto 0;
    display: block;
    text-align: center;
    font-family: FiraSansCondensed-HeavyItalic;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 1.2px;
    position: absolute;
    bottom: 4px;left: 50%;
    margin-left: -41.66666vw;
}
.toast {
    position: absolute;
    top: 30vh;
    left: 0;
    opacity: 0;
    font-size: 14px;
    color: #FFFFFF;
    width: 100vw;
    transform: scale(0);
    text-align: center;
    transition: all 0.3s;
    span {
        display: inline-block;
        padding: 15px 23px;
        background: rgba(0,0,0,0.76);
        border-radius: 8px;
        width: 50vw;
        box-sizing: border-box;
    }
}
.toast.show {
    opacity: 1;
    bottom: 22vh;
    transform: scale(1);
}
.loading {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    transform: scale(1);
    transition: all 0.3s;
    img {
        width: 10vw;
        margin-top: calc(50vh - 5vw - 20px);
        padding: 20px;
        background: rgba(0,0,0,0.76);
        border-radius: 8px;
    }
}
.loading.hide {
    transform: scale(0);
}
.downloads {
    text-align:center;
    margin-top: 30px;
    padding-bottom: 30px;
    h5 {
        font-size: 18px;
        letter-spacing: 0.74px;
        margin-bottom: 8px;
        color: #fff;
    }
    .share {
        background: none;
        border: 2px solid #FFFFFF;
        border-radius: 8px;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 1.66px;
        color: #fff;
        display: inline-block;
        width: 63.88888vw;
        box-sizing: border-box;
        height: 44px;
        line-height: 44px;
    }
}
.tbh-friends {
  max-height:calc(100vh - 300px);
  overflow: auto;
}
.tbh-friends-list {
  position: relative;
  padding: 0 0 12px;
}
.tbh-friend-content {
  padding: 8vw 0 7px;
}
.tbh-diamond {
  width: 50px;
  height: 50px;
  position: absolute;right: 0;
  top: 50%;margin-top: -25px;
}
.friends-avatar {
  width: 16vw;
  height: 16vw;
  border-radius: 50%;
  vertical-align: middle;
  // margin-right: 2.77777vw;
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -8vw;
  box-sizing: border-box;
  border: 2px solid #fff;
  background:#fff2e5;
}
.tbh-friends-info {
  display: block;
  // max-width: 55.55555vw;
  // vertical-align: middle;
  background: #fff;
  border-radius: 8px;
  margin:0 5.55555vw;
  padding-top: 8vw;
  text-align: center;
  box-sizing: border-box;
}
.friends-name {
  font-size:16px;
  color: #FFAE30;
  font-weight: 600;
  padding-bottom: 5px;
  padding-top: 5px;
}
.friends-diamonds {
  border-top: 1px solid #E6DEFF;
  padding: 3px 0 5px;
  margin-top: 10px;
}
.friends-name-received {
  font-size: 14px;
  color: #666666;
  margin-left: 6px;
}
.friends-received {
  font-size: 16px;
  color: #491CC6;
  font-weight: 600;
  padding: 0 12px;box-sizing: border-box;
}
.diamonds-pic-2 {
  width: 15px;
  margin-right: 7px;
} 
.friends-from {
  font-size: 12px;
  color: #8064CD;
}
.moments-new {
    position: absolute;
    width: 29px;
    right: 22px;

}